.headerBgImage {
   background-image: linear-gradient(to right, rgb(0 0 0 / .9), rgb(0 0 0 / .5)), url(/img/bubbles.avif);
   background-position: center bottom;
   background-size: cover;
   background-attachment: scroll;
}

.logo {
  width: 20%;
  height: auto;
}

.cajaH1 {
  font-size: 2.5rem;
	text-align: center;
  color: lightgrey;
  margin: 0 auto;
  padding: 0 1.5rem 0 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.caja {
	width: 100% !important;
  height: auto;
	display: flex !important;
  align-items: center;
  justify-content: space-around;
	text-align: center !important;
}

/* Estilos para móviles */
@media (max-width: 767px) {
  
  .caja {
    width: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    text-align: center !important;
  }

  .cajaH1 {
    font-size: 1.4rem;
    padding: 0 1.5rem 0 0;
  }

 }
 
 /* Estilos para tabletas */
 @media (min-width: 768px) and (max-width: 1023px) {
  
  .cajaH1 {
    font-size: 2rem;
    text-align: center;
    color: lightgrey;
    margin: 0 auto;
    padding: 0 2.5rem 0 0;
  }

 }