.main-container-PD {
	padding: 4rem 0;
}

.PD-container {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 4rem;
	padding: 4rem 0rem;
}

.observacion {
	font-size: 2rem;
	color: green;
	text-align: center;
	margin-bottom: 2rem;
	padding: 0 3rem;
}

.observacion span {
	font-weight: bold;
}

/* TIENDA SIN PRODUCTOS */
.PD-container-empty {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-image: url("/img/bubbles-bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	padding: 7rem;
}

.H1 {
	width: 25%;
	text-align: center;
	margin: auto 0;
	padding: 8rem 1rem;
	border-radius: 50%;
	box-shadow: 0 0 10px white;
	font-weight: bold;
	color: #4bbdff;
	background: linear-gradient(to right, lightgray, white);
}

.Img {
	width: 40%;
	border-radius: 10px;
	box-shadow: 0 0 10px white;
	height: fit-content;
	margin: auto 0;
}

/* Estilos para LapTops */
@media (min-width: 1024px) and (max-width: 1199px) {
	/* TIENDA SIN PRODUCTOS */
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		background-image: url("/img/bubbles-bg.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		padding: 5rem;
	}

	.H1 {
		width: 25%;
		text-align: center;
		margin: auto 0;
		padding: 4rem 4rem;
		border-radius: 50%;
		box-shadow: 0 0 10px white;
		font-weight: bold;
		font-size: 2rem;
		color: #4bbdff;
		background: linear-gradient(to right, lightgray, white);
	}
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
	.pageH1 {
		font-size: 3rem;
	}

	.observacion {
		font-size: 1.6rem;
		padding: 0 2rem;
	}

	/* TIENDA SIN PRODUCTOS */
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		background-image: url("/img/bubbles-bg.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		padding: 5rem;
	}

	.H1 {
		width: 30%;
		text-align: center;
		margin: auto 0;
		padding: 5rem 3.5rem;
		border-radius: 50%;
		box-shadow: 0 0 10px white;
		font-weight: bold;
		font-size: 1.6rem;
		color: #4bbdff;
		background: linear-gradient(to right, lightgray, white);
	}

	.Img {
		width: 45%;
		border-radius: 10px;
		box-shadow: 0 0 10px white;
		height: fit-content;
		margin: auto 0;
	}
}

/* Estilos para móviles */
@media (max-width: 767px) {
	.pageH1 {
		font-size: 2.5rem;
	}

	.observacion {
		font-size: 1.4rem;
		padding: 0 1rem;
	}

	.PD-container {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		margin-bottom: 0;
		gap: 0;
		padding: 0 1rem;
		width: 100%;
	}

	/* TIENDA SIN PRODUCTOS */
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
      align-items: center;
      gap: 2rem;
		background-image: url("/img/bubbles-bg.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		padding: 2rem 1rem;
	}

	.H1 {
		width: 95%;
		text-align: center;
		margin: auto 0;
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 0 0 10px white;
		font-weight: bold;
		font-size: 1.6rem;
		color: #4bbdff;
		background: linear-gradient(to right, lightgray, white);
	}

	.Img {
		width: 95%;
		border-radius: 10px;
		box-shadow: 0 0 10px white;
		height: fit-content;
		margin: auto 0;
	}
}
