.pageH1 {
	font-weight: bold;
	font-size: 3.5rem;
	text-align: center;
	color: #4bbdff;
	margin: 1.5rem 0 2.3rem 0;
}

.contenedor {
   display: flex;
   flex-direction: column;
}

 /* Estilos para tabletas */
 @media (min-width: 768px) and (max-width: 1023px) {

   .pageH1 {
      margin: 1rem 0 2rem 0;
      font-size: 3rem;
   }

 }

/* Estilos para móviles */
@media (max-width: 767px) {

   .pageH1 {
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
      color: #4bbdff;
      margin: .7rem;
   }

}