.contenedor {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
	gap: 2rem;
	padding: 1rem;
}

.pageH1 {
	font-weight: bold;
	font-size: 3.5rem;
	text-align: center;
	color: #4bbdff;
	margin: 1.5rem 0;
}

.imgs {
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	width: 29%;
}

.pageP {
	text-align: justify;
	padding: 1rem 4rem 2rem 4rem;
	font-size: 1.6rem;
	color: gray;
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
	.pageH1 {
		font-size: 3rem;
		margin: 1rem 0;
	}
}

/* Estilos para móviles */
@media (max-width: 767px) {
	.contenedor {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
		width: 100%;
	}

	.pageH1 {
		font-weight: bold;
		font-size: 2.5rem;
		text-align: center;
		color: #4bbdff;
		margin: 1rem 0;
	}

	.imgs {
		border-radius: 10px;
		box-shadow: 0 0 10px black;
		width: 96%;
	}

	.pageP {
		text-align: justify;
		padding: 0rem 3rem 2rem 3rem;
		font-size: 1.5rem;
		color: gray;
	}
}
