.article {
	height: 28rem;
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: stretch;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0rem 2rem 2rem 2rem;
   border-radius: 10px;
	box-shadow: 0 0 5px black;
}

.cajaText {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 0rem 3rem;
}

.postH1 {
	font-size: 2.4rem;
	font-weight: bold;
	color: #4bbdff;
	margin: 0;
}

.postFecha {
	font-size: 1.6rem;
	font-weight: bold;
	color: orangered;
}

.postP {
	font-size: 1.6rem;
	color: gray;
	text-align: justify;
	padding: 0;
	margin: 0;
}

.imgs {
	width: 40%;
	height: 100%;
	border-radius: 10px 0 0 10px;
}

.links {
	text-decoration: none;
	font-size: 1.6rem;
	padding: 0;
	color: rgb(20, 78, 238);
	transition: all 300ms;
}

/* Estilo de hover para los enlaces */
.links:hover {
	color: #4bbdff !important;
	transform: scale(1.1);
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {

	.article {
		height: 20rem;
	}

	.cajaText {
		padding: 1.3rem 2rem;
	}

	.postH1 {
		font-size: 1.7rem;
	}

	.postFecha {
		font-size: 1.2rem;
	}

	.postP {
		font-size: 1.2rem;
	}

	.imgs {
		border-radius: 10px 0 0 10px;
		
	}

	.links {
		text-decoration: none;
		font-size: 1.2rem;
		padding: 0;
		color: rgb(20, 78, 238);
	}
}

/* Estilos para móviles */
@media (max-width: 767px) {

	.article {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: .5rem 1rem 1rem 1rem;
		height: fit-content !important;
		border-radius: 10px;
	}
	.imgs {
		width: 100% !important;
		height: 130%;
		border-radius: 10px 10px 0 0;
	}

	.cajaText {
		width: 100%;
		height: 100% !important;
		display: flex;
		flex-direction: column;
      flex-shrink: 2;
      flex-wrap: wrap;
		align-items: center;
		text-align: center;
		justify-content: flex-start;
		padding: 1rem .5rem .2rem;
		border-radius: 10px;
	}

	.littleDiv {
		display: flex;
		flex-direction: column;
		gap: 0;
		margin: 0;
	}
	.postH1 {
		font-size: 1.4rem;
	}

	.postFecha {
		font-size: 1rem;
		font-weight: normal;
		color: orangered;
	}

	.postP {
		font-size: 1rem;
		color: gray;
		text-align: justify;
		padding: 0 2rem;
		margin: 0;
	}

	.links {
		text-decoration: none;
		font-size: 1rem;
		padding: 0;
		margin: 0;
		color: rgb(20, 78, 238);
		margin-bottom: 1rem;
	}
}
