.cajaNav {
	z-index: 1;
}

/* Pantallas Grandes */
@media (min-width:1200px) {
	.links {
		transition: transform 0.3s ease, color 0.3s ease;
		text-decoration: none;
		font-size: 1.8rem;
		padding: 5px 0;
		color: rgb(255, 255, 255);
	}
	
	.links:hover {
		color: #ffaa0b !important;
		transform: scale(1.1) !important;
	}
	
	.brand {
		transition: transform 0.3s ease, color 0.3s ease !important;
		text-decoration: none;
		font-size: 2.2rem !important;
		color: rgb(255, 255, 255);
		margin-right: 5rem;
	}
	
	.brand:hover {
		color: #ffaa0b !important;
		transform: scale(1.1) !important;
	}
	
	
	.bsw {
		box-shadow: 0 0 5px white;
	}
	
	.cajaNav {
		padding: 0.5rem 1.5rem !important;
		display: flex !important;
	}
	
	.navLadoIzquierdo {
		display: flex;
		gap: 3rem;
		width: 60%;
	}
	
	.navLadoDerecho {
		display: flex;
		gap: 0rem;
		width: 40%;
		justify-content: space-between;
		align-items: center;
	}
	
	.carritoDiv {
		display: flex;
		align-items: center;
	}
	
	.carrito {
		font-size: 3rem;
	}
	
	.counter {
		background-color: rgb(36, 113, 161);
		color: white;
		border-radius: 50%;
		align-items: center;
		margin: 0;
		padding: 2px 7px 0px 7px;
		font-size: 1.4rem;
	}
	
	.burger {
		color: aquamarine;
		background-color: rgb(170, 235, 252);
	}
}

 /* Estilos para LapTop */
 @media (min-width: 900px) and (max-width: 1199px) {
	.brand {
		transition: transform 0.3s ease, color 0.3s ease !important;
		text-decoration: none;
		font-size: 2rem !important;
		color: rgb(255, 255, 255);
		margin-right: 3rem;
	}

	.brand:hover {
		color: #ffaa0b !important;
		transform: scale(1.1) !important;
	}
	
	.links {
		transition: transform 0.3s ease, color .3s ease !important;
		text-decoration: none;
		font-size: 1.5rem;
		padding: 5px 0;
		color: rgb(255, 255, 255);
	}

	.links:hover {
		color: #ffaa0b !important;
		transform: scale(1.1) !important;
	}

	.navLadoIzquierdo {
		display: flex;
		gap: 2rem;
		width: 55%;
	}
	
	.navLadoDerecho {
		display: flex;
		gap: 2rem;
		width: 45%;
		justify-content: flex-end;
		align-items: center;
	}
	
	.carritoDiv {
		display: flex;
		align-items: center;
	}

	.carrito {
		font-size: 2.5rem;
	}

	.counter {
		background-color: rgb(36, 113, 161);
		color: white;
		border-radius: 50%;
		align-items: center;
		margin: 0;
		padding: 1px 7px 0px 7px;
		font-size: 1.4rem;
	}

	.burger {
		color: aquamarine;
		background-color: rgb(170, 235, 252);
	}

 }
 
 /* Estilos para Tablet */
 @media (min-width: 768px) and (max-width: 899px) {
	.cajaNav {
		padding: .5rem 1rem;
	}
	
	.brand {
		transition: color 0.3s ease !important;
		text-decoration: none;
		font-size: 1.8rem !important;
		color: rgb(255, 255, 255);
		margin-right: 3rem;
	}

	.links:hover {
		color: #ffaa0b !important;
	}
	
	.brand:hover {
		color: #ffaa0b !important;
	}

	.links {
		transition: color 0.3s ease !important;
		text-decoration: none;
		font-size: 1.6rem;
		padding: 0;
		color: rgb(255, 255, 255);
	}
	
	.navLadoIzquierdo {
		display: flex;
		gap: .7rem;
		margin-top: 1rem;
		width: 100%;
	}

	.navLadoDerecho {
		display: flex;
		flex-direction: column;
		gap: .7rem;
		width: 100%;
		align-items: flex-start;
		margin: 1rem 0;
	}

	.navIcons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-bottom: .5rem;
	}
	
	.carrito {
		font-size: 2rem;
	}

	.counter {
		background-color: rgb(36, 113, 161);
		color: white;
		border-radius: 50%;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 1px 6px 0px 6px;
		font-size: 1rem;
	}

	.burger {
		color: aquamarine;
		background-color: rgb(170, 235, 252);
	}
 }

 /* Estilos para Moviles */
 @media (max-width: 767px) {

	.cajaNav {
		padding: .5rem 1rem;
	}
	
	.brand {
		transition: color 0.3s ease !important;
		text-decoration: none;
		font-size: 1.6rem !important;
		color: rgb(255, 255, 255);
		margin-right: 3rem;
	}
	
	.brand:hover {
		color: #ffaa0b !important;
	}

	.links {
		transition: color 0.3s ease !important;
		text-decoration: none;
		font-size: 1.4rem;
		padding: 0;
		color: rgb(255, 255, 255);
	}

	.links:hover {
		color: #ffaa0b !important;
	}
	
	.navLadoIzquierdo {
		display: flex;
		gap: .7rem;
		margin-top: 1rem;
		width: 100%;
	}

	.navLadoDerecho {
		display: flex;
		flex-direction: column;
		gap: .7rem;
		width: 100%;
		align-items: flex-start;
		margin: 1rem 0;
	}

	.navIcons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-bottom: .5rem;
	}

	.carrito {
		font-size: 2rem;
	}

	.counter {
		background-color: rgb(36, 113, 161);
		color: white;
		border-radius: 50%;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 1px 5px 0px 5px;
		font-size: 1rem;
	}
	
	.burger {
		color: aquamarine;
		background-color: rgb(170, 235, 252);
	}
 }